.idea
.vs
Backup
Binaries
DerivedDataCache
Intermediate
Saved
Build
CourseAssets

.vscode
.pch
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.vsconfig
*.uproject.DotSettings.user
*.aux
*.bbl
*.bcf
*.glo
*.idx
*.log
*.mw
*.nlo
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdy
*.blg